@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

::selection{
  color: #fff;
  background: #1da1f2;
} 
.main-feed{
    margin-top: 2rem;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.wrapper{ 
  display: flex;
  flex-direction: column; 
  border: 1px solid rgb(250, 222, 169);
  margin-bottom: 1rem;
  max-width: 475px;
  width: 100%;
  border-radius: 15px;
  padding: 25px 25px 15px 25px;
}   
.author{
  color: orange;
}
.wrapper1{
  border: 1px solid orange;
}
.feedbox{
  width: 34vw ;  
  overflow: hidden;
  word-wrap: break-word;
}
.textbox{
  width: 34vw ; 
  border: 2px solid orange;
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 3rem;
}
.text-area{
 width: 34vw ;   
 outline: none;
 height: 8vh;
} 
.flex{
  display: flex;
}
.btn1{
  font-size: large;
  padding: 1rem; 
  margin-left: 0.5rem;
  background: orange;
  border-radius: 22px; 
}

.bottom{
  display: flex;
  margin-top: 13px;
  align-items: center;
  justify-content: space-between;
}
.bottom .icons{
  display: inline-flex;
}
.icons li{
  list-style: none;
  color: orange;
  font-size: 20px;
  margin: 0 2px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.2s ease;
}
.bottom .content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom .counter{
  color: #333;
  display: none;
  font-weight: 500;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #aab8c2;
}
.bottom button{
  padding: 9px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: orange;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  pointer-events: none;
  transition: background 0.2s ease;
}
.bottom button.active{
  opacity: 1;
  pointer-events: auto;
}
.bottom button:hover{
  background: orange;
} 
.author span{
  color: orange; 
}  
.tweets{
  list-style: none;
}  
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.upper{
  display: flex;
} 
.upper1{
  display: flex; 
  overflow-wrap: break-word;
  justify-content: space-between; 
  align-items: flex-start;
} 
.btn2{
  background: orangered;
  padding: 6px; 
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-radius: 32px;
} 

.wrapper {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.feed-header-details {
  flex-grow: 1;
} 
.feed-header-details>span {
  font-size: large;
} 

.feed-header-user {
  font-weight: bold; 
  color: orange; 
  padding-right: 6px;
}

.feed-header-actions button {
  background-color: #1da1f2;
  color: #fff;
  border: none; 
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.feed-header-actions button:hover {
  background-color: #1877f2;
}
.reply-btn{
  background-color: rgb(231, 112, 69);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.reply {
  margin-left: 20px;
  margin-bottom: 10px;
}

.reply-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reply-header-user {
  font-weight: 300; 
  color: #0a70f6;
  padding-right: 6px;
}

.reply-header-actions button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.reply-header-actions button:hover {
  background-color: #c82333;
}
