/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  background-color: black; 
} 
.main{
  display: flex;
  flex-direction: column;
} 

.Hero{ 
  display: flex; 
  flex-direction: column;
  color: white;
  align-items: center;
  text-align: center;
  margin-top: 10rem; 
}
.Hero h1{
  font-size: 5rem;
  width: 63vw;
  line-height: normal;
}   
.underline{
  text-decoration: underline;
}
.text-orange{
  color: orange;
}
.btn{ 
  margin-top: 2rem;
  background-color: orange;
  color: white;
  font-size: 3rem;
  border-radius: 54px;
  padding: 2rem;
} 
.res{
  margin-top: 170px;
  margin-left: 18.8vw; 
  margin-bottom: 4rem;
}