.navbar {
    display: flex; 
    justify-content: space-between; 
    position: -webkit-sticky;  
    padding-top: 1.5rem;
    padding-left: 2vw; 
    padding-right: 2vw; 
    box-sizing: border-box;  
    margin-right: 2rem;
    color: orange;
    z-index: 1;
} 
.navbar i{ 
    width: 18%;
    height: 28%;
}
.navbar ul{ 
    display: flex;
    flex-direction: row; 
    gap: 12px;
    justify-content: space-evenly;  
    list-style: none;
    align-items: center;
} 
.navbar li{
    color: orange;
    padding-left: 16px;
}
.navbar i{
    color: orange;
}
