.sem{
    display: flex;
    flex-direction: column;
    margin-top: 5rem; 
    align-items: center;
    justify-content: center;
} 
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.container-main{
    width: max-content;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
} 
.btns{
    display: flex;
    padding: 1rem;
    gap: 1rem;
}
h3{
    color: orange;
} 
.css-7p9xsp >option{
    background: black;
}  
.item-div{
    display: flex; 
    flex-direction: column;
    align-items: baseline;
    margin: 0.5rem;
}
